@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Open+Sans&display=swap');

body {
    max-width: 800px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Fraunces', serif;
}

.name-container {
    background-color: #244F26;
    color: #FFFBDB;
    padding: 15px;
    border-radius: 10px;
}

.name-title {
    margin-left: 2.5em;
}

.image-container img {
    grid-column: 3;
    position: absolute;
    top: 20px;
    left: 530px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 250px;
    width: 247px;
}

.main {
    display: float;
    padding: 2em;
}

#byui-link {
    color: #FFFBDB
}

.date {
    color: #93BEDF;
}

footer {
    background-color: #244F26;
    color: #FFFBDB;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}