@media only screen and (min-width: 65.5em) {
    header button {
        display: none;
    }

    .content-box {
        background-color: #E0EEC6;
    }

    nav ul.hide {
        display: flex;
    }

	nav ul li { 
        flex: 1 1 100%; 
    }
	
	nav a {
		font-size: 1rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    footer {
        font-size: 1rem;
    }

    header img {
        height: 120px;
        width: auto;
        background-color: transparent;
    }

	.headings h1 {
		font-size: 3rem;
	}

	.motto {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}
}