body {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

table {
    border-collapse: collapse;
    box-shadow: 0 2px 15px gray;
}

td {
    padding: 5px;
    border: 1px solid gray;
}

th {
    background-color: #7fb9c2;
    color: black;
    padding: 5px;
    border: 1px solid gray;
    font-size: 1.5em;
}

tbody th {
    background-color: #628ca6;
    color: white;
    padding: 5px;
    font-size: 1em;
}

tfoot tr td{
    background-color: #7fb9c2;
    color: black;
    font-size: .7em;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}


#good-month {
    background-color: #628ca6;
    color: white;
}