body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

header {
    background-color: #7CA982;
	display: grid;
	align-items: center;
    grid-template-columns: auto 2fr auto;
    gap: 1rem;
    padding: 10px 20px;
}

footer {
    grid-area: footer;
    text-align: center;
    font-size: .7rem;
    background-color: #7CA982;
    padding: 0;
    margin: 0 auto;
}

footer p {
    margin-bottom: 5px;
}

.date {
    padding-bottom: 10px;
}

header,
nav,
footer {
    max-width: 100%;
}

main {
    padding: 0 2%;
}

main h2 {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 2rem;
}
h2, h3 {
    font-size: 1.2rem;
	color: #243E36;
}

header button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #243E36;
}

header img {
    height: 50px;
    width: auto;
    background-color: transparent;
}

nav {
    background-color: #243E36;
    text-align: center;
	box-shadow: 0 2px 15px gray;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul li a {
    text-align: center;
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

td {
    padding: 10px 25px;
}

th {
    margin: 0;
    padding: 10px;
    background-color: #E0EEC6;
}

table tr td div img {
    width: 100%;
}

.active {
    background-color: rgba(0, 0, 0, .2);
	color: #C2A83E;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}

nav ul.hide {
    display: none;
}

.motto {
    font-style: italic;
    letter-spacing: 1pt;
    color: #243E36;
    margin-left: 20px;
    font-size: .9rem;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.content-box {
    display: block;
    margin: 10px auto;
    border: 1px solid black;
    padding: 15px;
    background-color: white;
}

.hero-container img {
    height: auto;
    width: 100%;
}

.article-container {
    margin: 10px auto;
    border: 1px solid black;
    padding: 0 20px;
    background-color: #E0EEC6;
}

.article-container img {
    height: auto;
    width: 100%;
}

.article-text p {
    line-height: 1.5rem;
}

.legal-footer {
    background-color: #243E36;
    color: white;
    padding: 10px 10px;
    margin: 0;
}

.weather-summary {
    background-color: #E0EEC6;
    padding: 1px 20px;
}

.day-forecast {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.day-forecast table {
    display: flex;
    justify-content: center;
}

#banner-container {
    background-color: #045FB4;
    padding: 20px;
    text-align: center;
    color: white;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding: 10px;
}

.contact-img {
    display: none;
}

.contact-info {
    text-align: left;
}

