@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: #7CA982;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header,
nav,
main {
	max-width: 767px;
	margin: 0 auto;
}
h1 {
    font-size: 2rem;
}
h2, h3 {
	color: #243E36;
}

nav {
	background-color: #243E36;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #E0EEC6;
	color: #243E36;
}
.active {
	color: #C2A83E;
}

.proposed-logo {
    height: 250px;
    width: auto;
}

.color-scheme-img {
    height: 250px;
    width: auto;
}

@media only screen and (min-width: 37.5em) {
    nav ul { 
        display: flex; 
    }

	nav ul li { 
        flex: 1 1 100%; 
    }
	
	nav a {
		font-size: 1rem;
	}
}
