@media (min-width: 46.875em) {
    .business {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .adds {
        grid-template-columns: repeat(2, 1fr);
    }

    .preston-rodeo {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .preston-rodeo img {
        justify-self: end;
    }

    .napoleon-dynamite {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .napoleon-dynamite img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .napoleon-dynamite p {
        grid-column: 2 / 3;
    }

    .contact-page-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .board-of-directors {
        grid-template-columns: repeat(2, 1fr);
    }

    #subject {
        width: 300px;
    }
}